body {
  min-width: 320px;
  min-height: 100vh;
  font-family: fantasy;
  background-image: url("/fantasy-art-field-clouds-grass-wallpaper.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.App{
  margin-top: 17%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4880cfd2;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 500px;
  height: 100px;
}

button {
  margin: 1px;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  font-family: fantasy, Arial Narrow, Arial, sans-serif;
}

.buttons{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}
